.cartPage {
   padding: 38px 0 100px 0;
   &__title {
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 300;
      font-size: 20px;
      line-height: 23px;
      color: #252525;
      margin-bottom: 30px;
   }
}